<?xml version="1.0"?>
<!-- 以slam坐标系为基准的静态tf-->
<robot name="up70" xmlns:xacro="http://tixiaoshan.github.io/">

  <xacro:property name="PI" value="3.1415926535897931" />

  <!-- livox_frame 作为主基座 -->
  <link name="livox_frame" />

  <!-- base_link 现在挂在 livox_frame 上 -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.5 0.2"/>
      </geometry>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <material name="purple">
        <color rgba="0.5 0 0.5 1"/> <!-- 紫色 -->
      </material>
    </visual>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="livox_frame"/>
    <child link="base_link"/>
    <origin xyz="-0.15 0.2 0" rpy="0 0 0"/> <!-- 与原始 livox->base_link 的反变换 -->
  </joint>

  <!-- laser_frame 挂在 base_link 上 -->
  <!-- <link name="laser_frame" />
  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser_frame" />
    <origin xyz="0.2 0 0" rpy="0 0 0" />
  </joint> -->

</robot>
